<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
          <!--<ion-button slot="start" [routerLink]=" ">
                  <ion-icon name="home"></ion-icon>
                </ion-button>-->
          <ion-menu-button slot="end" autoHide="true"></ion-menu-button>
        </ion-buttons>
    <ion-title size="small">información y contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
<h3>Qué es co-lab</h3>
<p>Esto es un prototipo diseñado y desarrollado por <a href="http://marianovelamazan.com">Mariano Velamazán</a> para comprobar si se puede hacer que el trabajo colaborativo sea más productivo y exitoso para aprender. </p>
<h3>¿Tienes dudas o problemas con la aplicación?</h3>
<p>Si el día de la Gymkhana tienes algún problema y quieres solucionarlo puedes llamarme al 722 276 450 e intentaré ayudarte.</p>
<h3>¿Tienes ideas o sugerencias?</h3>
<p>Pues escríbeme a <a href="mailto: hi@marianovelamazan.com">mi correo electrónico</a> que estaré encantado de que contactes conmigo para cualquier mejora.</p>
</ion-text>
</ion-content>

