<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <!--<ion-button slot="start" [routerLink]=" ">
              <ion-icon name="home"></ion-icon>
            </ion-button>-->
      <ion-menu-button slot="end" autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title size="small">co-lab: privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text size="small">
    <h3>Objetivos de investigación:</h3>
    <p>
      Centrado en prácticas de aprendizaje colaborativo  y en teorías situadas del aprendizaje.
      El estudio investiga prácticas de aprendizaje y enseñanza basada en evidencias y teorías situadas.
    </p>
    <h3>Controlador de datos:</h3>
    <p>
      Los datos personales facilitados serán incorporados en un fichero de datos de carácter personal.
      "Projectes de recerca, desenvolupament i innovació", titularidad de la Universidad Pompeu Fabra con la finalidad de llevar a cabo estudios, trabajos o proyectos de investigación, así como su promoción y la gestión delos productos resultantes. Estos datos sólo podrán ser cedidos, con el consentimiento previo del interesado: a entidades que colaboran en el desarrollo de la actividad de investigación, para difundir la investigación en los medios de comunicación e internet; y en aquellos casos en los que sea necesario para el cumplimiento de las obligaciones legalmente establecidas.
      En cualquier momento puede ejercer los derechos de acceso, rectificación, cancelación y oposición mediante comunicación escrita, acompañada de una fotocopia del DNI o documento equivalente dirigida a: Gerent. Universitat Pompeu Fabra.Pl. de la Mercè, 10-12. 08002 Barcelona.
    </p>
    <h3>Investigador Principal:</h3>
    <p>Mariano Velamazán (hi@marianovelamazan.com)</p>
    <h3>Supervisoras:</h3>
    <p>
      Patricia Santos (patricia.santos@upf.edu) y Davinia Hernández-Leo (davinia.hernandez-leo@upf.edu)
    </p>

    <h3>Institución:</h3>
    <p>Universitat Pompeu Fabra. Pl. de la Mercè, 12. 08002 - Barcelona</p>

    <h3>Grupo de Investigación:</h3>
    <p>Interactive Technologies Group (GTI), Universitat Pompeu Fabra</p>

    <h3>Motivación y duración:</h3>
    <p>
      Un esfuerzo para conectar las matemáticas de la escuela y la vida real a través del diseño y la creatividad. Este experimento es parte de la investigación doctoral de Mariano Velamazán – comprometiéndose a mejorar algunas de las variables que inciden en la experiencia y la efectividad de los deberes así como facilitar la iniciativa y la creatividad para conectar la escuela con la vida cotidiana de los estudiantes. La duración de esta investigación es de 3 años, finalizando en 2022.
    </p>

    <h3>Objetivos de investigación:</h3>
    <p>
      Centrado en prácticas de aprendizaje colaborativo  y en teorías situadas del aprendizaje.
      El estudio investiga prácticas de aprendizaje y enseñanza basada en evidencias y teorías situadas.
    </p>
    <h3>Metodología y procedimiento:</h3>
    <p>
      Aplicación para móvil para fomentar trabajo en grupo constructivo. Se trata de una app que simula un juego de cartas de rol en el que los miembros deben realizar diferentes tareas para mejorar el funcionamiento del grupo.
    </p>
    <p>
      No se piden nombres reales ni registro de ningún tipo de datos. Sólo el número de grupo de la gymkhana matemática de sevilla para que los miembros de un mismo grupo puedan jugar juntos.
    </p>
    <h3>Recolección de datos:</h3>
    <p>
      No se requiere ningún dato personal.
      Sus datos no confidenciales del experimento, incluyendo las interacciones registradas en la app, serán recogidos, analizados y compartidos como datos abiertos en depósitos científicos como datos anónimos. Estos datos anónimos serán usado por terceras partes bajo licencia Creative Commons Attribution 4.0 International (CC BY 4.0).
    </p>
    <p>
      El Grupo de Tecnologías Interactivas (GTI) de la Universitat Pompeu Fabra (UPF) también puede usar sus datos en publicaciones científicas, modelos de datos y contribuciones a la ciencia abierta.
    </p>
    <h3>Riesgos y beneficios:</h3>
    <p>Los riegos existen siempre que los datos personales son compartidos.</p>
    <p>
      El experimento no ofrecerá ningún beneficio directo, pero puede ayudarnos a contribuir a la investigación para mejorar la calidad de las prácticas educativas.
    </p>
    <p>
      Además, el riesgo de que los datos personales pueden ser accedidos por personas no autorizadas existe en cualquier momento cuando los datos personales son compartidos. Se tomarán medidas de seguridad para minimizarlo.
    </p>
    <h3>Privacidad:</h3>
    <p>
      Los datos que pueden ser usados para identificarle directamente, como su nombre (que no es obligatorio que sea el real, no serán compartidos ni hechos públicos.
    </p>
    <p>
      Para proteger su privacidad, no será identificado por su nombre sino por un código que solo es conocido por los investigadores participantes del experimento. Guardaremos sus datos en un espacio digital seguro con mecanismos de control de acceso, por lo tanto solo puede ser accedido por los investigadores participantes. Mantendremos la seguridad de los datos en consonancia con las directrices establecidas por los Comisarios Nacionales de Protección de Datos* y se destruirán los datos no anónimos en 5 años.
      Solo los datos anónimos serán compartidos en depósitos abiertos de publicación de datos.
      El intercambio de datos ampliará los beneficios derivados del tiempo y los datos que usted ha contribuido a generar. *http://ec.europa.eu/justice_home/fsj/privacy/nationalcomm/index_en.htm
    </p>
    <h3>Participacion voluntaria:</h3>
    <p>
      Puedes detener o inhabilitar el experimento en cualquier momento. No hay necesidad de dar ninguna justificación.
    </p>
    <p>
      Tu participación en este experimento es completamente voluntaria, tiene el derecho de omitir respuestas a cualquier pregunta y rechazar cualquier actividad o el experimento completo en cualquier momento sin necesidad de justificación. Su participación o retirada no tendrá ningún efecto en su clasificación académica, profesional o personal. Usted puede revocar su consentimiento en cualquier momento notificando al investigador principal, Mariano Velamazán, en persona o escribiendo a hi@marianovelamazan.com, patricia.santos@upf.edu o davinia.hernandez@upf.edu.
    </p>
    <h3>Derechos de los datos:</h3>
    <p>
      Si ha sentido que sus derechos han sido violados, puede ponerse en contacto con la agencia establecida.
    </p>
    <p>
      Tiene el derecho de solicitar el acceso a sus datos personales, de exigir la corrección y/o supresión de sus datos personales, o de objetar cualquier procesamiento posterior, de conformidad con la legislación aplicable. La autoridad de protección de datos a la que puede presentar una queja es la Autoritat Catalana de Protecció de Dades (Autoridad Catalana de Protección de Datos), que puede contactar en: apdcat@gencat.cat o por escrito a: Catalan Data Protection Authority, C/ Rosselló, 214, Esc. A, 1-1, 08008 Barcelona, Spain.
    </p>
  </ion-text>
</ion-content>
