<ion-app>
  <ion-menu side="start" type="push" contentId="mainMenu">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title>co-lab</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <!--<ion-menu-toggle>
          <ion-item routerLink="/statistics">
            <ion-icon name="stats" padding></ion-icon>
            <ion-label>Puntos del grupo </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/member-statistics">
            <ion-icon name="albums" padding></ion-icon>
            <ion-label>Cartas por miembro </ion-label>
          </ion-item>
        </ion-menu-toggle>-->
        <!--<ion-menu-toggle>
          <ion-item routerLink="/instructions">
            <ion-icon name="information-circle" padding></ion-icon>
            <ion-label>Instrucciones</ion-label>
          </ion-item>
        </ion-menu-toggle>-->
        <ion-menu-toggle>
            <ion-item routerLink="home">
              <ion-icon name="home" class="ion-padding"></ion-icon>
              <ion-label>home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerLink="profile">
              <ion-icon name="person" class="ion-padding"></ion-icon>
              <ion-label>my profile</ion-label>
            </ion-item>
          </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="contact">
            <ion-icon name="contact" class="ion-padding"></ion-icon>
            <ion-label>contact</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="privacy-policy">
            <ion-icon name="lock" class="ion-padding"></ion-icon>
            <ion-label>privacy policy</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="mainMenu" main></ion-router-outlet>
  <!--<ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="problem">
        <ion-icon name="image"></ion-icon>
        <ion-label>photo-problem</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="chat">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>talk</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="solve">
        <ion-icon name="bulb"></ion-icon>
        <ion-label>solve</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="reflect">
        <ion-icon name="thumbs-up"></ion-icon>
        <ion-label>reflect</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>-->
</ion-app>
